# General
.DS_Store
.idea/
.vscode/
*.log
node_modules/
package-lock.json

# React Native
.bundle/
metro.config.js.swp

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Android
android/build/
android/app/build/
android/.gradle/
android/app/.cxx/
android/local.properties
android/*.iml
android/app/*.iml

# iOS
ios/Pods/
ios/build/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace
ios/*.xcodeproj/xcuserdata/
ios/.xcode.env.local
